<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" style="height: 80%">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxLayout="column">

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">First Name is required</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email must be a valid email address</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Password">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Confirm Password">
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
        </mat-form-field>
        <div class="form-group">
          <button mat-stroked-button  type="submit">Register</button>
        </div>
      </form>
    </mat-card>
  </div>
