
<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" style="height: 70%" >

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form  fxLayout="column">
        <mat-card-content fxLayout="column">
          <mat-form-field >
            <input matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button (click)="authentication()" color="primary" class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div>