
  <mat-toolbar class="app-header">
    <div routerLink="/">
        <img
        width="80"
        alt="Angular Logo"
        src="https://res.cloudinary.com/doiz6iue3/image/upload/v1583865095/edirect_kqnwdj.svg"
        />
    <span style="color: #185C91"> {{ 'company' | translate}}</span>   
    </div>
    <span class="fill-space"></span>
    <span *ngIf="!user">
      <a mat-button routerLink="dashboard"  routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>

    <span *ngIf="user">
      <a mat-button routerLink="dashboard"  routerLinkActive="active">{{ user.name }}</a>
      <a mat-button mat-raised-button (click)="logout()" routerLinkActive="active">Logout</a>
    </span>

  </mat-toolbar>