<mat-card class="project-card">
    <mat-card-header>
    <mat-card-title>{{ project?.title }}</mat-card-title>
    <div fxFlex></div>
    <button mat-button (click)="openDialogToEdit()"><i class="material-icons  icons-header">edit</i></button>
    <button mat-button (click)="deleteProject()"><i class="material-icons icons-header">delete</i></button>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="categories">
            <div  *ngFor="let category of categories">
                <div *ngIf="category?.tasks?.length > 0">
                    <app-task [category]="category" [project]="project" (projectChange)="updateProject()" ></app-task>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field>
                <input matInput [(ngModel)]="newTask.title" placeholder="Task">
            </mat-form-field>
        <button mat-raised-button (click)="addTask()" color="primary">{{ 'Project.Add' | translate}}</button>
        </div>
    </mat-card-content>
</mat-card>