.mat-card-header {
    background-color: #536DFE !important;
    padding: 5px !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.icons-header {
    color: white;
    margin-top: 3px;
}

.mat-card {
    padding: 0 !important;
}

.mat-card-title {
    margin-top: 5px;
    color: white;
}

.mat-card-content {
    padding: 5px !important;
}
