
<div >
    <div *ngIf="!myProjects">
        <mat-spinner></mat-spinner>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="25px" >
        <div *ngFor="let project of myProjects"  >
            <app-project [project]="project"></app-project>
        </div>
        <mat-card fxLayoutAlign="center center">
            <mat-card-content>
                <mat-card-title translate>Dashboard.CreateaNewProject</mat-card-title>
                <mat-form-field>
                    <input matInput [(ngModel)]="project.title" placeholder="{{'Dashboard.ProjectName' | translate}}" >
                </mat-form-field>
                <br/>
                <button mat-raised-button [disabled]="!project.title" (click)="createProject()" color="primary" translate>{{ 'Dashboard.CreateProject' | translate}}</button>
            </mat-card-content>
        </mat-card> 
    </div>
</div>